.navbar,
.nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header {
    background-color: var(--primary-color);
    padding: 1.5rem 2.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
}


.nav-left {
    gap: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left .logo {
    font-size: 3rem;
    color: var(--white-color);
    font-weight: bold;
}

.nav-left i {
    color: var(--yellow-color);
}

.nav-left .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.nav-links a {
    color: var(--white-color);
    letter-spacing: 0.5px;
}

.nav-links a:hover{
    color: var(--light-black);
}
.nav-right {
    gap: 2.5rem;
    width: 40%;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 70%;
    background-color: rgb(255, 255, 255, 0.3);
}

.search-bar-container label {
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    font-weight: bolder;
}

.search-bar-container label:hover {
    color: var(--yellow-color);
}

.nav-right .search-bar {
    width: 100%;
    background: none;
    color: var(--white-color);
    text-transform: capitalize;
    font-size: 1.7rem;
}

.icon-container {
    display: flex;
    gap: 2rem;
}

.nav-right .icon-container a {
    font-size: 2.5rem;
    color: var(--white-color);
}

.icon-container a:hover {
    color: var(--light-black);

}

.badge-container .badge-icon{
    width: 1.8rem;
    height: 1.8rem;
}