.footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 2em 2em 4em 2em;
    color: var(--white-color);
}

.footer-header {
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: bold;
    word-spacing: 3px;
}

.social-icons {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    margin-bottom: 1em;
}

.social-icons a:hover {
    color: var(--light-black);
}

.footer-list-item a {
    color: var(--white-color);
}

.footer-copy {
    font-size: 1.5rem;
    opacity: 0.80;
}